* {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-gap: 300px;
    color: #444;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.grid-clock {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-clock::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background: #fff;
    border: 1px solid #444;
    border-radius: 50%;
}

.grid-clock span{
    position: absolute;
    inset: 8px;
    color: #444;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.grid-clock b {
    opacity: 0.75;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.hour-hand, .hr{
    width: 1px;
    height: 55%;
}

.minute-hand, .mn{
    width: 1px;
    height: 90%;
}

.second-hand, .sc{
    width: 1px;
    height: 90%;
}

.hr, .mn, .sc{
    position: absolute;
    display: flex;
    justify-content: center;
}

.hr::before {
    content: '';
    width: 5px;
    height: 50%;
    position: absolute;
    background: #151517;
    z-index: 10;
    border-radius: 10px 10px 6px 6px;
}

.mn::before {
    content: '';
    width: 4px;
    height: 50%;
    position: absolute;
    background: #151517;
    z-index: 11;
    border-radius: 10px 10px 6px 6px;
}

.sc::before {
    content: '';
    width: 1px;
    height: 50%;
    position: absolute;
    z-index: 12;
    background: #ec9b24;
}

.digital-time {
    color: #151517;
    position: relative;
    display: flex;
    font-size: 1.5em;
    margin-top: 500px;
}

.digital-time div {
    position: relative;
    text-align: center;
    width: 60px;
    font-weight: 600;
    color: #151517;
}

.digital-time div:nth-child(1)::after,
.digital-time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
}

.digital-time div:nth-child(1)::after,
.digital-time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}