* {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-gap: 600px;
    color: #444;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.middle {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-gap: 600px;
    color: #444;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.clock-layout {
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto\9;
    z-index: 1;
}

/* .grid-clock {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.clock-layout::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 5px;
    color: blue;
    border: 1px solid #444;
    border-radius: 50%;
    z-index: 5;
}

/* .grid-clock span{
    position: absolute;
    inset: 8px;
    color: #444;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.grid-clock b {
    opacity: 0.75;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
} */

.hour-hand, .hr{
    width: 1px;
    height: 55%;
    top: 66.3%;
    left: 19.8%;
}

.minute-hand, .mn,
.second-hand, .sc {
    width: 1px;
    height: 90%;
    left: 20%;
}
/* 
.hour-hand, .hr,
.minute-hand, .mn,
.second-hand, .sc {
    bottom: 50%;
} */

.hr, .mn, .sc{
    position: absolute;
    display: flex;
    justify-content: center;
}

.hr::before {
    content: '';
    width: 5px;
    height: 50%;
    position: absolute;
    background: #151517;
    z-index: 10;
    border-radius: 10px 10px 6px 6px;
}

.mn::before {
    content: '';
    width: 4px;
    height: 50%;
    position: absolute;
    background: #151517;
    z-index: 11;
    border-radius: 10px 10px 6px 6px;
}

.sc::before {
    content: '';
    width: 1px;
    height: 50%;
    position: absolute;
    z-index: 12;
    background: #ec9b24;
}

.digital-time {
    color: #151517;
    position: relative;
    display: flex;
    font-size: 1.5em;
    margin-top: 450px;
}

.digital-time div {
    position: relative;
    text-align: center;
    width: 60px;
    font-weight: 600;
    color: #151517;
}

.digital-time div:nth-child(1)::after,
.digital-time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
}

.digital-time div:nth-child(1)::after,
.digital-time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.location {
    flex-basis: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

/* .location div:nth-child(0) {
    position: relative;
    text-align: center;
    width: 60px;
    font-weight: 600;
    color: #151517;
} */

.form {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* .location .bi-box-arrow-down-right {
    font-weight: bold;
} */